<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Instrumento" value="URIT 1280" />
		<add key="Imagen" value="descarga.jpg" />
		<add key="ConnectionMode" value="TCP" /> <!--TCP/SERIAL/FILES -->
		<add key="Protocol" value="HL7" /> <!--HL7/ASTM 1394/ASTM 1381 -->
		
		<add key="License" value="R/WW/Cr9jYMuWQ2zs7JnAjLe4X3d6JLFLligIEpz7XiTqVLtuuEFr+4K7cYXzhTG" />

		<add key="OrderField" value="ObservationRequest/FillerOrderNumber" />
		<add key="TestName" value="ObservationIdentifier/Text" />
		<add key="TestValue" value="ObservationValue/Value" />

		<add key="ConnectionSetup" value="LOCAL" /> <!--SERVER/LOCAL-->
		

		<add key="InstrumentIP" value="192.168.1.11"/>
		<add key="LocalPort" value="5600"/>

		<add key="COM" value="COM5"/>
		<add key="Bauds" value="9600"/>
		<add key="DataBits" value="8"/>

		<add key="SeparadorMuestra" value="-"/>
		<add key="MuestraPorDefecto" value="2"/>


		<add key="ProcessFolder" value="c:\temporal\results"/>
		<add key="WorkListFolder" value="c:\temporal\worklist"/>
		<add key="ProcessedFolder" value="c:\temporal\results\old"/>



		<add key="ServerLISUAT" value="http://labatlas.uat.apps.ocp4mqa.grupodifare.com/gdifare/api/laboratorio/" />
		<add key="ServerLIS" value="https://apigateway.grupodifare.com:8443/gdifare/api/" />
		
		
		<add key="ServerSeguridad" value="apiseguridaddif.azurewebsites.net" />

	</appSettings>
</configuration>